<p style="color: green"><%= notice %></p>

<h1>Exercicios</h1>

<div id="exercicios">
  <% @exercicios.each do |exercicio| %>
    <%= render exercicio %>
    <p>
      <%= link_to "Show this exercicio", exercicio %>
    </p>
  <% end %>
</div>

<%= link_to "New exercicio", new_exercicio_path %>
